body{
  /* background: white; */
  
    /* background: rgb(178, 178, 228); */
    /* background: black; */
    background: linear-gradient(rgb(39, 34, 54), black);;
     height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
     overflow: scroll;
     -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display:none;
}
      /* background-image: -webkit-linear-gradient(250deg, white , #004E95 ); */
}
@media screen and (max-width: 600px){

}