body{
  /* background: white; */
  
    /* background: white; */
     height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
      background-image: -webkit-linear-gradient(250deg, white , #004E95 );
}
.myPicWrap{
    background:orange;
   
    height: 340px;
    width: 340px;
    border-radius: 50px;
}
.myPic{
    height: 300px;
    border-radius: 50%;
    padding:20px;
   
}
.wrapper{
position: absolute;
top: 50%;
left: 50%;
/* transform: translate(-50%,-50%); */
}
.cube-wrap {
width: 60px;
height: 60px;
/* -webkit-perspective: 2000px; */
/* -webkit-perspective-origin: 50% -500px; */
}
.single-box {

background-size: cover;
display: block;
position: absolute;
width: 50px;
height: 50px;
background-color: #60c2ef;
-webkit-transform: rotateY(45deg) translateZ(-25px) rotateX(15deg);
/* -webkit-transform-origin: 50% 50% 0; */
border: 3px solid #fff;
}
.box {
-webkit-transform-style: preserve-3d;
-webkit-animation: spincube 10s infinite linear;
}
.side-front { 
background:green;
-webkit-transform: translateZ(25px);
}
.side-back { 
    background:blue;
-webkit-transform: rotateY(180deg) translateZ(25px);
}
.side-top {
background: red;
-webkit-transform: rotateX(90deg) translateZ(25px);
}
.side-bottom {
    background:purple; 
-webkit-transform: rotateX(-90deg) translateZ(25px); 
}
.side-left { 
    background:yellow;
-webkit-transform: rotateY(-90deg) translateZ(25px); 
}
.side-right { 
    background:orange;
-webkit-transform: rotateY(90deg) translateZ(25px); 
}

@-webkit-keyframes rotate {
0% { -webkit-transform: rotateY(0)); }
100% { -webkit-transform:   rotateY(360deg) rotateZ(360deg); }
}

 @-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(90deg) rotateX(90deg);             }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }