
a { text-decoration:none; }
/* a:visited { text-decoration: none; color:white } */
a:hover { text-decoration: none;}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
button{
   background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.navbar{
    color: white;
    position: fixed;
    display:flex;
    flex-direction: row-reverse;
    z-index: 10;
    width: 100vw;
    padding-top: 20px;
    
}


.nav-links{
    margin-right: 50px;
}

.navlink{
    padding-right: 25px;
    color: rgb(226, 226, 226);
}

.navlink:hover{
    color: rgb(255, 255, 255)
}

.splash-container{
  
  background-repeat: no-repeat;
  height: 100vh;
 overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
 font-family: 'Open Sans', sans-serif;
  
}

.splash-container > section{
      
    scroll-snap-align: start;
}  




.welcome-body{
    /* padding-top: 80px; */
    display: grid; 
    grid-template-areas: 
    'image text' ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    height: 100vh;

   
    
}

.welcome-text{
    grid-area:'text';
    /* align-self: center; */
    padding-top:40vh;
    
    
}

.welcome-text-1{
     color: rgb(140, 74, 194);
    font-size: 3vh;
}
.welcome-text-2{
    color: white;
    font-size: 10vh;
}
.welcome-text-3{
    color: rgb(128, 128, 128);
    font-size: 4vh;
}

.myPicWrap{
    /* background-color:rgb(227, 139, 245, .5);
    
    height: 46vh;
    width: 46vh;
  border-radius: 5vh 15vh; */
}
.myPic{
    
    height: 40vh;
    border-radius: 50%;
    padding:20px;

    filter: drop-shadow(2px 1px 15px gray);
   
}
.myPicWrap{
    grid-area:'image';
    /* align-self: center; */
    justify-self: center;
    padding-top:25vh;
}

.box{
    
    margin-top:15%;
    margin-left:120%;
    transform: translate(-50%,-50%);
   
    

}

.box span{
    display:block;
    width: 3vh;
    height: 3vh;
    border-bottom:3px solid rgb(226, 226, 226);
     border-right:3px solid rgb(226, 226, 226);
     margin: -10px;
     transform: rotate(45deg);

     animation: animate 2s infinite;
}

.box span:nth-child(2){
    animation-delay: -.2s;
  
}
.box span:nth-child(3){
    animation-delay: -.4s;
   
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px)
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px)
    }
}

.background-circle{
   right: -10vh;
    bottom: -20vh;
    position: fixed;
    background-image: -webkit-linear-gradient(230deg,rgb(217, 101, 240),rgb(178, 178, 228)) ;
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    z-index: -1;

  box-shadow:  -2px -2px 15px 4px rgba(236, 236, 236, 0.671), 
                inset 0 0 20px 3px lightcoral;

}

.background-dot{
   background-image: -webkit-linear-gradient(230deg,rgb(170, 169, 170),rgb(214, 214, 214)) ;
    width: .5vh;
    height: .5vh;
    border-radius: 50%;
    z-index: -1;
    position:fixed;
    box-shadow:  0 1px 15px 3px rgba(236, 236, 236, 0.671);
}
#dot-1{
   top:10%;
   left: 30%;
}
#dot-2{
   top:15%;
   left: 50%;
}
#dot-3{
   top:50%;
   left: 37%;
}
#dot-4{
   top:70%;
   left: 25%;
}
#dot-5{
   top:90%;
   left: 45%;
}
#dot-6{
   top:7%;
   left: 80%;
}
#dot-7{
   top:7%;
   left: 5%;
}
#dot-8{
   top:30%;
   left: 17%;
}
#dot-9{
   top:60%;
   left: 2%;
}
#dot-10{
   top:97%;
   left: 9%;
}
#dot-11{
   top:51%;
   left: 12%;
}


.sidebar{
    position: fixed;
    top: 60vh;
    display: flex;
    flex-direction: column;
}

.sidebar-container{
    background: rgb(235, 169, 248);
    opacity: .9;
    font-size: 3vh;

    width: 12vh;
    margin-bottom: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    filter:drop-shadow(2px 2px 6px #6e6e6e)


   
}

.sidebar-container:hover{
    width: 15vh;
    padding-left: 30px;
    transition: .8s ease-in-out;
}

.sidebar-link{
    margin: 0;
    
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
}

.content1{
    /* color: white; */
    color: rgb(226, 226, 226);
    
    height: 100vh;

  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  position: relative;
   
 
}

.about-title-container{
   margin-left: 10%;
   margin-top: 5%;
   z-index: 1;
   position: absolute;
  justify-content: center;
}

.about-title-container h1{
    letter-spacing: 5px;
    font-size: 600%;
}

.about-content{
    margin-top:-8%;
    font-weight:lighter;
    width: 400px;
    text-align: justify;
    line-height: .6cm;
}

.utube-link{
    color:pink;
}
.utube-link:hover{
    color:white;
}


.about-img{
    margin-top: 8%;
    margin-left:37%;
    height: 70vh;
    width: 100vh;
    position: absolute;
}

.project-page{
   color: rgb(226, 226, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    align-items: center;
    overflow:hidden;

}

.project-title-container{
  
    font-size: 500%;
    letter-spacing: 1px; 
    margin-top: 10%;
}

.projects-list{
    display: flex;
    flex-direction: row;
 
  margin-top: 5%;
  margin-left:14%;

  
 
}

.hex{
    /* width: 22vh;
    height: 25vh; */
  
     /* box-shadow: 0 0 10px gray; */
   
      
     
}


.hex .shape{
    /* top:0;
    left: 0; */
     width: 30vh;
    height: 25vh;
    background: white;
    /* clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    filter: drop-shadow(2px 1px 15px gray);
     /* background-image: url('./images/Edify.png');
     background-size: 22vh 30vh; */
      /* transition: width 1s, height 1s; */
       transition:1s;

}

.hex #proj:hover{
     
   width: 37vh;
    height: 31vh;
     /* background-size: 25vh 30vh; */
   
}

.hex .shape img{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hex1{
  
   
}
#hex2{
    margin-top: 6%;
    margin-left:-2%;
    margin-right:-2%;
}
#hex3{
  
}

#no-proj1{
    background: linear-gradient(45deg,rgb(126, 30, 126), rgb(221, 73, 209))
}
#no-proj2{
  background: linear-gradient(45deg,rgb(90, 2, 90), rgb(48, 138, 212))
}



.project-img{
    width: 30vh;
    height: 28vh;
    
   
}

.hex .shape .proj-content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-size: large;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(45deg, rgba(201, 117, 209, 0.945), rgb(218, 218, 218));
    opacity:0;

    color:white;
     transition:1s;

}

.proj-desc{
    font-size: small;
    font-weight: 500;
    letter-spacing: normal;
}
.hex .shape:hover .proj-content{
    opacity: .9;
}


.contact-page{
    height: 100vh;
   color: rgb(226, 226, 226);
    display:flex;
    flex-direction: column;
   
    align-items: center;
}

.contact-title-container{
    margin-top: 5%;
    font-size:300%;
    letter-spacing: 5px;
}

.contact-info{
    margin-top:20%;
    letter-spacing: 5px;
   text-align: center;
   font-size: large;
}

.contact-info div{
    padding-top: 40px;
}

.resume:hover{
    color: white;
    font-size: 101%;
}

.links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.link{
    padding-left:10px;
    padding-right:10px;
   color: rgb(226, 226, 226);
}
.link:hover{
    color: white;
}

