.splash-container{
  
  background-repeat: no-repeat;
  color: white;
}

.welcome-body{
    padding-top: 80px;
    display: grid; 
    grid-template-areas: 
    'image text' ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.welcome-text{
    grid-area:'text';
    align-self: center;
    
}

.welcome-text-1{
    font-size: 30px;
}
.welcome-text-2{
    font-size: 90px;
}
.welcome-text-3{
    font-size: 50px;
}

.myPicWrap{
    grid-area:'image';
    align-self: center;
    justify-self: center;
}

.background-circle{
   right: -15em;
    bottom: -20em;
    position: fixed;
    background-image: -webkit-linear-gradient(230deg,rgb(227, 139, 245),rgb(178, 178, 228)) ;
    height: 70em;
    width:70em;
    border-radius: 50%;
    z-index: -1;
}